
 
    <div class="all_dash">
        <div class="fixed">
            <div class="logo-search-url">
                <div class="div-logo"><img src="/img/Valiant_Logo-01.png" alt="" width="100"></div>
                <div class="menu-bar"><i class="fas fa-bars menbar2"></i><i class="fas fa-bars menbar"></i></div>
                <div class="hiddeen"> <i class="fas fa-search hide-search"></i></div>
                <div class="search-cover">
                    <div class="search">
                        <form action="">
                                <i class="fas fa-search" search-icon"></i>
                            <input
                            type="text"
                            class="form-control search-input"
                            placeholder="Search Here"/>
                            <button type="submit"> 
                                <i class="fas fa-search" search-icon"></i>
                            </button>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="profile-group">
                <div class="profile_image">
                    <img src="data:Binary?<%= user.img.contentType %>;base64,<%= user.img.data.toString('base64') %>" alt="" width="100">
                </div>
                <div class="profile_name">
                  
                        <p class="hide_profile"><%= user.first_name %> <%= user.second_name %> <i class="bi bi-chevron-up"></i></p>
                  
                    <div class="logout_space">
                        
                            <ul>
                                <li> <form action="/admin/logout" method="POST" class="logoutss">
                                    <input type="submit" value="Log Out" class="bi bi-outlet">
                                </form></li>
                                <li><a href="">Profile</a></li>
                            </ul>
                       
                    </div>
                </div>
            </div>   
        </div>

        <div class="opaque"></div>
           
        <div class="sidebar">
            <div class="div-logo"><img src="/img/Valiant_Logo-01.png" alt="" width="100"> <i class="fas fa-times close"></i></div>
            <ul class="ul">
                <li class="dashboard"><a href="/admin/dashboard"><i class="bi bi-building-dash" style="font-size: 1.5em; color: #007bff;"></i> Dashboard</a></li>
                <div class="parent-lists">
                    <li class="list_one"><i class="bi bi-house" style="font-size: 1.5em; color: #007bff;"></i> </i>Properties</li>
                    <div class="child-list">
                        <li><a href="/admin/housing/1"><i class="fas fa-minus"></i><span>Housing</span></a></li>
                        <li><a href="/admin/land/1"><i class="fas fa-minus"></i><span>Land Properties</span></a></li>
                    </div>
                </div>
                <div class="parent-lists">
                    <li class="list_one"> <i class="bi bi-people" style="font-size: 1.5em; color: #007bff;"></i> Manage Staffs</li>
                    <div class="child-list">
                        <li><a href="/admin/admin/1"><i class="fas fa-minus"></i><span>Admin</span></a></li>
                        <li><a href="/admin/staff/1"><i class="fas fa-minus"></i><span>Staffs</span></a></li>
                    </div>
                </div>
                <div class="parent-lists">
                    <li class="list_one"><i class="bi bi-newspaper" style="font-size: 1.5em; color: #007bff;"></i> Messages & News</li>
                    <div class="child-list">
                        <li><a href="/admin/blog/1"><i class="fas fa-minus"></i><span>Blogs</span></a></li>
                        <li><a href="/admin/contact/1"><i class="fas fa-minus"></i><span>Contacts</span></a></li>
                        <li><a href="/admin/email_subscriber"><i class="fas fa-minus"></i><span>Email Subscribers</span></a></li>
                    </div>
                </div>
                
                <div class="parent-lists">
                    <li class="list_one"><i class="bi bi-info" style="font-size: 1.5em; color: #007bff;"></i> Company Details</li>
                    <div class="child-list">
                        
                        <li><a href="/admin/creating-service"><i class="fas fa-minus"></i><span>Create Services</span></a></li>
                        <li><a href="/admin/creating-info"><i class="fas fa-minus"></i><span>Create Info</span></a></li>
                    </div>
                </div>
                <li class="dashboard"><a href="/admin/change-password"><i class="bi bi-pass-fill" style="font-size: 2em; color: #007bff;"></i> Change Password</a></li>
                
                
            </ul>
        </div>
       
    </div>


    <div id="preloader"> <img src="/img/Valiant_Logo-01.png" width="100" class="preloadering"> </div>

 

    <!-- Lawn Tennis Court, Recreation centre, Garden, School, Police Station, Mall -->
    <!-- Situated within notable buildings in the Abuja state, four bedroom bungalow with full access to your environment -->