<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Valiantfoot Limited</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <meta property="og:title" content="Your Website Name Here"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://yoururl.com"/>
  <meta property="og:image" content="http://yoururl.com/yourimage.jpg"/>
  <meta property="og:description" content="Your website description here"/>

  <!-- Favicons -->
  <link href="/img/Valiant_Logo-01.png" rel="icon">
  <link href="/img/Valiant_Logo-01.png" rel="Valiant_Logo-01">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/animate.css/animate.min.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: EstateAgency
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>