  <!-- Vendor JS Files -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/swiper/swiper-bundle.min.js"></script>
  <script src="/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>