<%- include ('./dash_include/header.ejs')  %>
<%- include ('./dash_include/dashboard_all.ejs') %>


<div class="main-container">
    <nav class="headering">
        <div class="head_in">
            <P>Admin</P>
         <ol>
            <li> 
                <a href="">
                    Home >
                </a>
            </li>
            <li> 
                    Email Subscribers
            </li>
        </ol>
        </div>
    </nav>

    <div class="table_admin">
        <%- include ('./messages/messages.ejs') %>
        <div class="d-name-tag">
            <p>Genaral Email to Subscribers</p>
        </div>

        <form action="/send-email" method="POST" enctype="multipart/form-data" class="formings">
            <div class="form-group">
                <label>Subject:</label>
                <input class="form-control" value="" type="text" name="subject">
            </div>
          
            <div class="form-group">
                <label>message:</label>
                <textarea class="form-control" name="message" ></textarea>
            </div>
            <div class="form-group">
               
                <label for="img">Attachment:</label>
                <input type="file" name="attachment" id="img" class="form-control-file form-control height-auto" >
            </div>
            
            <div class="form-group">
                <div class="custom-file">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>

    <div class="footering">
        <h3>All rights reserved and Powered by: Valiantfoot Limited <i class="fas fa-copyright"></i> 2023</h3>
    </div>
</div>

<%- include ('./dash_include/footer.ejs') %>

